python/mimi/__pycache__/__init__.cpython-38.pyc
python/mimi/__pycache__/accesstoken.cpython-38.pyc
python/mimi/__pycache__/machinetranslation.cpython-38.pyc
python/mimi/__pycache__/speechrecognition.cpython-38.pyc
python/mimi/__pycache__/speechsynthesis.cpython-38.pyc
